{% extends 'base.html' %}
{% load static %}
{% block content %}
        <form class="modal-content" method="Post" action="{% url 'registered-employer'%}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="container">
                <h1>Employer Sign Up</h1>
                <p>Please fill out this form to create an account.</p>
                <hr>
                <label for="company_name"><b>Company Name:</b></label>
                <input type="text" placeholder="Enter Company Name" name="company_name" id="company_name" required>

                <br>
                <br>

                <label for="company_email"><b>Company Email:</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                
                <br>
                <br>
                
                <label for="company_address"><b>Company Address:</b></label>
                <input type="text" placeholder="Enter Company Address" name="address" id="address" required>

                <br>
                <br>
                <label for="company_city"><b>Company City:</b></label>
                <input type="text" placeholder="Enter Company City" name="city" id="city" required>

                <br>
                <br>

                <label for="company_state"><b>Company State:</b></label>
                <input type="text" placeholder="Enter Company State" name="company_state" id="company_state" required>

                <br>
                <br>

                <label for="company_zip"><b>Company Zipcode:</b></label>
                <input type="text" placeholder="Enter Company Zipcode" name="zip" id="zip" required>

                <br>
                <br>

                <label for="url"><b>Company URL:</b></label>
                <input type="text" placeholder="Enter Company URL" name="url" id="url" required>
                <br>
                <br>

                <label for="company_image"><b>Company Image Upload:</b></label>
                <input type="file" placeholder="Upload Company Image" name="image" id="image" required>

                <br>
                <br>

                <label for="username"><b>Username:</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>

                <br>
                <br>

                <label for="psw"><b>Password:</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <br>
                <br>
                
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>

                <div class="clearfix">
                  <button type="submit" class="signupbtn">Sign Up</button>
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
              </div>
              
              <div class="container signin">
                  <p>Already have an account? <a href="{% url 'userlogin' %}">Sign in</a>.</p>
              </div>

            </form>
          <script>
          // Get the modal
          var modal = document.getElementById('id01');

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
          </script>

{% endblock %}