{% extends 'base.html' %}
{%block content%}
{% load static %}

<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'applicanthome' applicantID=applicantID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'jobs' applicantID=applicantID%}">Jobs</a></li>
      <li><a href="{% url 'employerlist' applicantID=applicantID %}">Employers</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'applicant-update' applicantID=applicantID %}">Update Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">My Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>
<body>
    <h2>You Selected:</h2>
        <div>           
                <h4>{{ Employer.company_name }}</h4>
                 <p id="email">Email: {{ Employer.company_email }}</p>
                 <p id="url">URL: {{ Employer.company_url }}</p>
                 <p>Address: {{Employer.company_address}}</p>
                 <p>{{Employer.company_city}}, {{Employer.company_state}}, {{Employer.company_zip}}</p>
                 
        </div> 
<h3> {% if message != '' %}{{message}}{% endif %}
{% endblock %}