{% extends 'base.html' %}
{%block content%}
{% load static %}

<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'applicanthome' applicantID=applicantID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'jobs' applicantID=applicantID%}">Jobs</a></li>
      <li><a href="{% url 'employerlist' applicantID=applicantID %}">Employers</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'applicant-update' applicantID=applicantID %}">Update Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">My Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>
<body>
    <form name="form" method="get" action="{% url 'searchemployer' %}">
    <label for="searchbar2">Search For An Employer:</label>
    <input id="searchbar2" name='searchbar2' type="text" placeholder="Search Here">
    <br>
    <input type="submit" value="Search">

    {% for company in employerlist%}
        <div class="job-listings-card">
            <div class="image-wrapper"> 
            <img src="" style="width:300px;height:300px">
            </div>
            <h3>{{company.company_name}}</h3>
            <h5>{{company.company_address}}</h5>
            <h5>{{company.company_city}}, {{company.company_state}} {{company.company_zip}}</h5>
    </div>
    
    {%endfor%}
{% endblock %}
