{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Domine|Roboto" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Welcome!</title>
</head>
<body>

<div class="vpDiv _findYourFamily" style="background-image: url({% static 'img/index-pic.jpg' %});">
    <div class="centerWrapper">
        <div class="valueProposition">
            <h1 class="largeTitle">
                Create Your FREE Account
            </h1>
            <a href="{% url 'register-applicant' %}" onclick="send-to-register" class="signUpCTA fs-button fs-button--recommended">
                Sign up as Applicant
            </a>
            <br>
            <a href="{% url 'register-employer' %}" onclick="send-to-register" class="signUpCTA fs-button fs-button--recommended">
                Sign up as Employer
            </a>
            <br>
            <a href="{% url 'userlogin' %}" onclick="send-to-login" class="linkCTA signInLink fs-button--minor">
                Already have an account?
                <b>Sign in</b>
            </a>
        </div>
    </div>
</div>
<footer>
    <p>&copy Black Cyber Recruiter 2020</p>
</footer>
</body>
</html>