{% extends 'base.html' %}
{%block content%}
{% load static %}

<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'applicanthome' applicantID=applicantID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'jobs' applicantID=applicantID%}">Jobs</a></li>
      <li><a href="{% url 'employerlist' applicantID=applicantID %}">Employers</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'applicant-update' applicantID=applicantID %}">Update Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">My Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>
<body>
    <h2>You Selected:</h2>
        <div>           
                <h4>{{ Job.job_title }}</h4>
                 <p id="category">Company: {{ Job.company_ID.company_name }}</p>
                 <p id="price">Type: {{ Job.job_type }}</p>
                 <p id="description">Job Description: {{ Job.job_description }}</p>
                 {% if Job.wage != null%}
                 <p id="wage">Wage: ${{Job.wage}}
                 {%else%}
                 <p id="salary">Salary: ${{Job.salary}}
                 {% endif %}
                 <h5>Preferred Skills</h5>
                 <ul>
                    <li>{{Job.preferred_skill1}}
                    <li>{{Job.preferred_skill2}}
                    <li>{{Job.preferred_skill3}}
                </ul>
        </div>
<button type="submit" onclick="location.href='{% url 'deletejob' jobID=Job.id %}'">Delete</button> 
<button type="submit" onclick="location.href='{% url 'quickapply' jobID=Job.id applicantID=applicantID %}'">Quick Apply</button> 
<h3> {% if message != '' %}{{message}}{% endif %}
{% endblock %}


