{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="job-listings-cards">
    <div class="job-listings-card">
        <a href>
            <div class="image-wrapper"> 
            <img src="{% static 'img/hero-image-600w.jpg' %}" style="width:400px;height:400px">
            </div>
            <h3>DevOp Intern</h3>
            <h2>Thumbs Up, Good Time Games</h2>
            <h2>Provo, UT</h2>
            <h2>May 2021 - August 2021</h2>
        </a>
    </div>
</div>


{% endblock %}