{% extends 'base.html' %}
{% block content %}
{% load static %}

<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'applicanthome' applicantID=applicantID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'jobs' applicantID=applicantID%}">Jobs</a></li>
      <li><a href="{% url 'employerlist' applicantID=applicantID %}">Employers</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'applicant-update' applicantID=applicantID %}">Update Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">My Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>


<div class="job-listings-cards">
{%for job in search_jobs %}
    <div class="job-listings-card">
        <a href={%url 'jobinfo' jobID=job.id applicantID=applicantID%}>  
            <div class="image-wrapper"> 
            <img src="{{job.company_ID.company_image.url}}" style="width:300px;height:300px">
            </div>
            <h3>{{job.job_title}}</h3>
            <h2>{{job.company_ID.company_name}}</h2>
            
        </a>
    </div>
    {% endfor %}


{% endblock %}