{% extends 'base.html' %}
{% load static %}
{% block content %}
<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'employerhome' employerID=employerID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'mylistings' employerID=employerID%}">My Listings</a></li>
      <li><a href="{%url 'addlisting' employerID=employerID %}">Add Listing</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'home' %}">Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>

<table id="applicant-info-table">
  <tr>
    <th>Name</th>
    <th>Resume</th>
    <th>Phone</th>
    <th>Email</th> 
  </tr>
  {% for user in users%}
  <tr>
    <td>{{user.first_name}} {{user.last_name}}</td>
    <td><a href={{user.resume.url}}>resume</a></td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td> 
  </tr>
  {%endfor%}
</table>

{% endblock %}

