{% extends 'base.html' %}
{% load static %}
{% block content %}
<header id="top">    
<nav>
    <ul class="main-nav">
      <li><a class="active" href="{% url 'employerhome' employerID=employerID %}"><span class="hidden">Home</span><i class="fas fa-home"></i></a></li>
      <li><a href="{%url 'mylistings' employerID=employerID%}">My Listings</a></li>
      <li><a href="{%url 'addlisting' employerID=employerID %}">Add Listing</a></li>
      <li><a href="">Events</a></li>    
    </ul>
    <ul class="other-nav">
        <div class="dropdown">
            <li>
              <a href="">
                Account <i class="fas fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </a>
            </li>
            <div class="dropdown-content">
                <li><a href="{% url 'home' %}">Profile</a></li>
                <li><a href="">Saved Jobs</a></li>
                <li><a href="">Applications</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </div>
        </div>
      <li><a href=""><i class="fa fa-pinterest"></i></a></li>
      <li><a href=""><i class="fa fa-envelope"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </nav> 
</header>
{% for listing in joblistings%}
<h2>{{listing.job_title}}</h2>
{% endfor %}
<table id="applicant-info-table">
  <tr>
    <th>Job Title</th>
    <th>Wage</th>
    <th>Salary</th>
    <th># Matching Skills</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>Dev Op Intern</td>
    <td>$20</td>
    <td>$40000</td>
    <td>4</td>
    <td>Pending</td>
  </tr>
</table>
{% endblock %}
